<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>plus.svc.xworkspace.ttyd</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ xworkspace_console_ttyd_binary_path }}</string>
        <string>-i</string>
        <string>lo0</string>
        <string>-p</string>
        <string>{{ xworkspace_console_ttyd_port }}</string>
        <string>-O</string>
        <string>login</string>
        <string>bash</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>{{ ansible_env.HOME }}</string>
    <key>StandardOutPath</key>
    <string>{{ ansible_env.HOME }}/.local/state/xworkspace/ttyd.log</string>
    <key>StandardErrorPath</key>
    <string>{{ ansible_env.HOME }}/.local/state/xworkspace/ttyd.err.log</string>
</dict>
</plist>
