EXPORTER_NODE_ID={{ xray_exporter_node_id }}
EXPORTER_ENV={{ xray_exporter_env_name }}
ACCOUNTS_BASE_URL={{ xray_exporter_accounts_base_url }}
INTERNAL_SERVICE_TOKEN={{ xray_exporter_internal_service_token }}
SNAPSHOT_RETENTION={{ xray_exporter_snapshot_retention }}
SNAPSHOT_INTERVAL={{ xray_exporter_snapshot_interval }}
VECTOR_SNAPSHOT_URL={{ xray_exporter_vector_snapshot_url }}
