[Unit]
Description=Xray Exporter (Binary)
After=network.target

[Service]
Type=simple
User={{ xray_exporter_user }}
Group={{ xray_exporter_group }}
ExecStart={{ xray_exporter_binary_path }} -l {{ xray_exporter_listen_addr }} -e 127.0.0.1:8080
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
