$env:AI_WORKSPACE_AUTH_TOKEN = "{{ ai_workspace_auth_token }}"
$env:BRIDGE_AUTH_TOKEN = "{{ xworkmate_bridge_effective_auth_token | default(xworkmate_bridge_auth_token) }}"
$env:BRIDGE_REVIEW_AUTH_TOKEN = "{{ xworkmate_bridge_effective_review_auth_token | default(xworkmate_bridge_review_auth_token) }}"
$env:BRIDGE_CONFIG_PATH = "{{ xworkmate_bridge_config_file }}"

Start-Process -NoNewWindow -Wait -FilePath "{{ xworkmate_bridge_binary_path }}"
