$env:BRIDGE_ACCOUNTS_INTROSPECTION_URL = "{{ xworkmate_bridge_accounts_introspection_url }}"
$env:BRIDGE_ACCOUNTS_SERVICE_TOKEN = "{{ xworkmate_bridge_accounts_service_token }}"
$env:BRIDGE_CONFIG_PATH = "{{ xworkmate_bridge_config_file }}"

Start-Process -NoNewWindow -Wait -FilePath "{{ xworkmate_bridge_binary_path }}"
