[Journal]
Compress={{ 'yes' if xconnect_node_journal_policy.compress | bool else 'no' }}
SystemMaxUse={{ xconnect_node_journal_policy.system_max_use }}
SystemKeepFree={{ xconnect_node_journal_policy.system_keep_free }}
SystemMaxFileSize={{ xconnect_node_journal_policy.system_max_file_size }}
MaxRetentionSec={{ xconnect_node_journal_policy.max_retention }}
RuntimeMaxUse={{ xconnect_node_journal_policy.runtime_max_use }}
RateLimitIntervalSec={{ xconnect_node_journal_policy.rate_limit_interval }}
RateLimitBurst={{ xconnect_node_journal_policy.rate_limit_burst }}
