version: '3.9'
services:
  grafana:
    image: "{{ grafana_image }}"
    container_name: grafana
    restart: unless-stopped
    env_file:
      - "{{ grafana_env_file }}"
    ports:
      - "{{ grafana_host_port }}:3000"
    volumes:
      - "{{ grafana_workspace }}/data:/var/lib/grafana"
      - "{{ grafana_workspace }}/provisioning:/etc/grafana/provisioning"
    user: "472:472"
