GF_SECURITY_ADMIN_USER={{ grafana_admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
GF_SERVER_DOMAIN={{ grafana_domain }}
GF_SERVER_ROOT_URL={{ grafana_protocol }}://{{ grafana_domain }}/
GF_AUTH_ANONYMOUS_ENABLED=false
GF_AUTH_BASIC_ENABLED=true
{% if grafana_oidc_enabled | bool %}
GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME={{ grafana_oidc_name }}
GF_AUTH_GENERIC_OAUTH_AUTH_URL={{ grafana_oidc_issuer | regex_replace('/+$', '') }}/oauth/v2/authorize
GF_AUTH_GENERIC_OAUTH_TOKEN_URL={{ grafana_oidc_issuer | regex_replace('/+$', '') }}/oauth/v2/token
GF_AUTH_GENERIC_OAUTH_API_URL={{ grafana_oidc_issuer | regex_replace('/+$', '') }}/oidc/v1/userinfo
GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ grafana_oidc_client_id }}
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ grafana_oidc_client_secret }}
GF_AUTH_GENERIC_OAUTH_SCOPES={{ grafana_oidc_scopes }}
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH={{ grafana_oidc_role_attribute_path }}
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_STRICT={{ grafana_oidc_role_attribute_strict | ternary('true', 'false') }}
GF_AUTH_GENERIC_OAUTH_USE_PKCE={{ grafana_oidc_use_pkce | ternary('true', 'false') }}
GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=false
{% else %}
GF_AUTH_GENERIC_OAUTH_ENABLED=false
{% endif %}
