# Managed by Ansible: roles/vhosts/web_saas_host_config

listen_addresses = '{{ web_saas_host_config_postgres_conf.listen_addresses }}'
port = {{ web_saas_host_config_postgres_conf.port }}
max_connections = {{ web_saas_host_config_postgres_conf.max_connections }}

shared_buffers = '{{ web_saas_host_config_postgres_conf.shared_buffers }}'
effective_cache_size = '{{ web_saas_host_config_postgres_conf.effective_cache_size }}'
maintenance_work_mem = '{{ web_saas_host_config_postgres_conf.maintenance_work_mem }}'
work_mem = '{{ web_saas_host_config_postgres_conf.work_mem }}'

wal_buffers = '{{ web_saas_host_config_postgres_conf.wal_buffers }}'
min_wal_size = '{{ web_saas_host_config_postgres_conf.min_wal_size }}'
max_wal_size = '{{ web_saas_host_config_postgres_conf.max_wal_size }}'
checkpoint_completion_target = {{ web_saas_host_config_postgres_conf.checkpoint_completion_target }}

random_page_cost = {{ web_saas_host_config_postgres_conf.random_page_cost }}

log_destination = '{{ web_saas_host_config_postgres_conf.log_destination }}'
log_line_prefix = '{{ web_saas_host_config_postgres_conf.log_line_prefix }}'
log_timezone = '{{ web_saas_host_config_postgres_conf.log_timezone }}'
log_min_duration_statement = {{ web_saas_host_config_postgres_conf.log_min_duration_statement }}

timezone = '{{ web_saas_host_config_postgres_conf.timezone }}'
