DATABASE_URL=postgresql://{{ x_memory_hub_db_user }}:{{ x_memory_hub_db_password }}@{{ x_memory_hub_pg_host }}:{{ x_memory_hub_pg_port }}/{{ x_memory_hub_db_name }}
PORT={{ x_memory_hub_port }}
HOST={{ x_memory_hub_host }}
XMH_AUTH_TOKEN={{ x_memory_hub_auth_token }}
LITELLM_BASE_URL={{ x_memory_hub_litellm_base_url }}
LITELLM_API_KEY={{ x_memory_hub_auth_token }}
XMH_EMBED_MODEL={{ x_memory_hub_embed_model }}
