[storage]
STORAGE_TYPE = minio

[storage.minio]
MINIO_ENDPOINT = {{ gitea_s3_endpoint | default('s3.us-east-1.amazonaws.com') }}
MINIO_ACCESS_KEY_ID = {{ gitea_s3_access_key }}
MINIO_SECRET_ACCESS_KEY = {{ gitea_s3_secret_key }}
MINIO_BUCKET = {{ gitea_s3_bucket }}
MINIO_LOCATION = {{ gitea_s3_region | default('us-east-1') }}
MINIO_USE_SSL = true

[attachment]
STORAGE_TYPE = minio

[lfs]
STORAGE_TYPE = minio

[avatar]
STORAGE_TYPE = minio

[repo-archive]
STORAGE_TYPE = minio

[packages]
STORAGE_TYPE = minio
