{% if postgres_exporter_data_source_name | default('') | trim | length > 0 %}
DATA_SOURCE_NAME={{ postgres_exporter_data_source_name }}
{% else %}
DATA_SOURCE_URI=127.0.0.1:{{ postgres_exporter_database_port }}/{{ postgres_exporter_database_name }}?sslmode=disable
DATA_SOURCE_USER={{ postgres_exporter_group_name }}
DATA_SOURCE_PASS_FILE={{ postgres_exporter_password_file }}
{% endif %}
PG_EXPORTER_AUTO_DISCOVER_DATABASES={{ 'true' if postgres_exporter_auto_discover_databases | bool else 'false' }}
PG_EXPORTER_COLLECTION_TIMEOUT={{ postgres_exporter_collection_timeout }}
PG_EXPORTER_WEB_TELEMETRY_PATH=/metrics

