# Gitea Configuration
GITEA_IMAGE=gitea/gitea:1.22
GITEA__database__DB_TYPE=sqlite3

# Zitadel Configuration
ZITADEL_IMAGE=ghcr.io/zitadel/zitadel:latest
ZITADEL_MASTERKEY=a-32-byte-long-secret-key-change-me

# Observability Configuration
VM_IMAGE=victoriametrics/victoria-metrics:v1.101.0
GRAFANA_IMAGE=grafana/grafana:11.1.0
GF_SECURITY_ADMIN_PASSWORD=admin

# Caddy Configuration
SERVED_DOMAINS=git.local auth.local metrics.local
