{
    auto_https off
}

http://git.local {
    reverse_proxy gitea:3000
}

http://auth.local {
    reverse_proxy zitadel:8080 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Real-IP {remote}
    }
}

http://metrics.local {
    reverse_proxy grafana:3000
}
