# AI Desktop IceWM application menu
prog Terminal terminal {{ icewm_desktop_terminal_command }}
prog "Web Browser" browser {{ icewm_desktop_effective_browser_command }}
prog "File Manager" file-manager {{ icewm_desktop_file_manager_command }}
separator
menu Applications folder {
    prog Terminal terminal {{ icewm_desktop_terminal_command }}
    prog "Web Browser" browser {{ icewm_desktop_effective_browser_command }}
    prog "File Manager" file-manager {{ icewm_desktop_file_manager_command }}
}
separator
includeprog icewm-menu-fdo --no-sep-others --seps
