[Unit]
Description=LiteLLM Proxy Service
After=network-online.target

[Service]
Type=simple
User={{ litellm_service_user }}
Group={{ litellm_service_group }}
WorkingDirectory={{ litellm_service_home }}
EnvironmentFile={{ litellm_env_file }}
Environment=PYTHONPATH={{ litellm_python_site_packages }}
Environment=PATH={{ litellm_venv_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart={{ litellm_binary_path }} --host {{ litellm_listen_host }} --port {{ litellm_listen_port }} --config {{ litellm_config_file }}
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=litellm-proxy

[Install]
WantedBy=multi-user.target
