<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ macos_migration_google_drive_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ macos_migration_google_drive_script_path }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>{{ macos_migration_google_drive_schedule_seconds }}</integer>
    <key>StandardOutPath</key>
    <string>{{ macos_migration_google_drive_log_path }}</string>
    <key>StandardErrorPath</key>
    <string>{{ macos_migration_google_drive_log_path }}</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ ansible_env.HOME }}</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
