ACCOUNT_PG_USER=account_user
ACCOUNT_PG_PASSWORD={{ prod_services_database.account_pg_password }}
DATABASE_URL=postgres://account_user:{{ prod_services_database.account_pg_password | urlencode | replace('/', '%2F') }}@stunnel-client:15432/account?sslmode=disable
DATABASE_RUNTIME_ROLE={{ prod_services_selection.data.selfhost.runtime_role }}
DATABASE_BACKGROUND_WRITERS={{ prod_services_selection.data.selfhost.background_writers | bool | lower }}
DATABASE_IDENTITY_SHA256={{ {'Host': 'stunnel-client', 'Port': 15432, 'Database': 'account', 'Role': 'account_user'} | to_json(separators=(',', ':')) | hash('sha256') }}
AUTH_TOKEN_PUBLIC_TOKEN={{ prod_services_runtime.AUTH_TOKEN_PUBLIC_TOKEN }}
AUTH_TOKEN_REFRESH_SECRET={{ prod_services_runtime.AUTH_TOKEN_REFRESH_SECRET }}
AUTH_TOKEN_ACCESS_SECRET={{ prod_services_runtime.AUTH_TOKEN_ACCESS_SECRET }}
INTERNAL_SERVICE_TOKEN={{ prod_services_runtime.INTERNAL_SERVICE_TOKEN }}
XWORKMATE_SHARED_TENANT_DOMAIN=svc.plus
XWORKMATE_SHARED_TENANT_DOMAINS=svc.plus
ALLOWED_ORIGINS=https://console-selfhost-prod.svc.plus,https://console.svc.plus,https://selfhost-prod.xworktech.com,https://xworktech.com
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BILLING_INGEST_MODE=push
