[Service]
User=root
Group=root
MemoryAccounting=yes
MemoryHigh={{ vector_memory_high | default('150M') }}
MemoryMax={{ vector_memory_max | default('200M') }}
CPUQuota={{ vector_cpu_quota | default('30%') }}
