CMDB_PG_HOST='{{ observability_cmdb_postgres_host | replace("\\", "\\\\") | replace("'", "\\'") }}'
CMDB_PG_PORT={{ observability_cmdb_postgres_port }}
CMDB_PG_USER='{{ observability_cmdb_postgres_user | replace("\\", "\\\\") | replace("'", "\\'") }}'
CMDB_PG_DATABASE='{{ observability_cmdb_postgres_database | replace("\\", "\\\\") | replace("'", "\\'") }}'
CMDB_PG_SSLMODE='{{ observability_cmdb_postgres_sslmode | replace("\\", "\\\\") | replace("'", "\\'") }}'
CMDB_READER_PASSWORD='{{ observability_cmdb_reader_password | replace("\\", "\\\\") | replace("'", "\\'") }}'
