apiVersion: 1
deleteDatasources:
  - name: Prometheus
    orgId: 1
datasources:
  - name: VictoriaMetrics
    uid: victoriametrics
    type: prometheus
    access: proxy
    url: http://victoria-metrics:8428
    isDefault: true
    editable: false
    jsonData:
      exemplarTraceIdDestinations:
        - datasourceUid: victoriatraces
          name: traceID

  - name: VictoriaLogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://victoria-logs:9428
    editable: false

  - name: VictoriaTraces
    uid: victoriatraces
    type: jaeger
    access: proxy
    url: http://victoria-traces:8428
    editable: false
