apiVersion: 1
deleteDatasources:
  - name: Prometheus
    orgId: 1
datasources:
  - name: VictoriaMetrics
    uid: victoriametrics
    type: prometheus
    access: proxy
    url: http://victoria-metrics:8428
    isDefault: true
    editable: false

  - name: VictoriaLogs
    uid: victorialogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://victoria-logs:9428
    editable: false
    jsonData:
      derivedFields:
        - name: Trace ID
          matcherRegex: '(?:trace[_-]?id|traceID)[=:\\s"]+([0-9a-fA-F]{16,32})'
          url: '$${__value.raw}'
          datasourceUid: victoriatraces

  - name: VictoriaTraces
    uid: victoriatraces
    type: jaeger
    access: proxy
    # VictoriaTraces exposes the Jaeger-compatible query API below /select/jaeger.
    # Without this prefix Grafana requests /api/services and every trace panel is
    # empty even when spans have been successfully ingested.
    url: http://victoria-traces:10428/select/jaeger
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: victorialogs
        tags: ['service.name', 'environment', 'instance']
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: victoriametrics
        tags: [{ key: 'service.name', value: 'job' }, { key: 'instance', value: 'instance' }]
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
