apiVersion: 1
deleteDatasources:
  - name: Prometheus
    orgId: 1
datasources:
  - name: VictoriaMetrics
    uid: victoriametrics
    type: prometheus
    access: proxy
    url: http://victoria-metrics:8428
    isDefault: true
    editable: false

  - name: VictoriaLogs
    uid: victorialogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://victoria-logs:9428
    editable: false

  - name: VictoriaTraces
    uid: victoriatraces
    type: jaeger
    access: proxy
    url: http://victoria-traces:10428
    editable: false
