{{ observability_grafana_domain }} {
    reverse_proxy 127.0.0.1:{{ observability_grafana_port }}
}

{{ observability_prometheus_domain }} {
    reverse_proxy 127.0.0.1:{{ observability_prometheus_port }}
}
