global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'aws-costs'
    static_configs:
      - targets: ['opencost-exporter-aws:9100']

  - job_name: 'gcp-costs'
    static_configs:
      - targets: ['opencost-exporter-gcp:9100']

  - job_name: 'azure-costs'
    static_configs:
      - targets: ['opencost-exporter-azure:9100']
