[Desktop Entry]
Version=1.0
Name={{ xfce_browser_name }}
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/local/bin/chromium-xrdp %U
Terminal=false
Type=Application
Icon={{ xfce_browser_icon }}
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
