{
    auto_https off
}

http://workspace.local {
    reverse_proxy xworkspace-console:3000
}

http://api.local {
    reverse_proxy xworkmate-bridge:8080
}

http://litellm.local {
    reverse_proxy litellm:4000
}

http://qmd.local {
    reverse_proxy qmd:8000
}

http://memory.local {
    reverse_proxy x-memory-hub:8001
}
