QMD_EMBED_API_BASE_URL={{ qmd_embed_api_base_url }}
QMD_EMBED_MODEL={{ qmd_embed_model }}
{% if qmd_embed_api_key is defined and qmd_embed_api_key != '' %}
QMD_EMBED_API_KEY={{ qmd_embed_api_key }}
{% endif %}
