[Unit]
Description={{ agent_proxy_service_description }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ agent_proxy_config_dir }}
ExecStartPre=/usr/bin/test -r {{ agent_proxy_config_path }}
ExecStart={{ agent_proxy_binary_path }} -config {{ agent_proxy_config_path }}
Restart=always
User={{ agent_proxy_user }}
Group={{ agent_proxy_group }}

[Install]
WantedBy=multi-user.target
