[Journal]
SystemMaxUse={{ xray_journald_system_max_use }}
SystemKeepFree={{ xray_journald_system_keep_free }}
SystemMaxFileSize={{ xray_journald_system_max_file_size }}
MaxRetentionSec={{ xray_journald_max_retention }}
