{{ xray_access_log_path }} {
    daily
    maxsize {{ xray_access_logrotate_size }}
    rotate {{ xray_access_logrotate_retention }}
    missingok
    notifempty
    dateext
    dateformat -%Y%m%d
    compress
    delaycompress
    copytruncate
}
